<section>
    <div class='music-actions'>
        <form id="music-search-form">
            <label for="music-name">Song:</label>
            <input type="text" id="music-input">
            <button type="submit">Search</button>
        </form>
        <br>
        <div class="music-player">
                        <!-- Results will be dynamically added here -->
        </div>
        <div id="search-results-container">
            <!-- Results will be dynamically added here -->
        </div>
    </div>
</section>