<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="scripts/script.js" async></script>
    <link rel="stylesheet" type="text/css" href="styles/style.css">    
    <title>Music Site</title>
</head>
<body>
    <%- include("partials/header/homepage-header.ejs") %>
    <br>
    <br>
    <main>
        <br>
        <br>
        <div class="container">
            <%- include('partials/searchbar.ejs') %>
        </div>
    </main>
</body>
</html>