<header>
    <div class="homepage-header">
        <div>
            <a href="#" class="site-name">
                <h1>Music Site</h1>
            </a>
        </div>
        <br>
        <div>
            <nav class="navigation">
                    <a href="/register">
                        <button><strong>Register</strong></button>
                    </a>
                &lt;&gt;
                    <a href="/login">
                        <button><strong>Login</strong></button>
                    </a>
            </nav>
        </div>
    </div>
</header>